.high-priority {
    color: red;
    font-weight: bold;
}

.medium-priority {
    color: orange;
}

.low-priority {
    color: green;
}

button {
    margin-left: 10px;
}

.hidden {
    display: none;
}
